.form-input-container {
  position: relative;
  height: 57px;
  opacity: 1;
  transition: height 1s, opacity 1s;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 500px;
  width: 100%;
  
  &.hide-field {
    height: 0px;
    opacity: 0;
  }

  input {
    width: 100%;
    padding: 5px 10px;
    margin: 15px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #525252;
    
    &:focus {
      outline: none;
    }
    
    &:focus ~ label {
      font-size: 12px;
      top: -12px;
    }
  }
  
  label {
    position: absolute;
    font-size: 16px;
    color: #2abbc6;
    left: 5px;
    top: 10px;
    transition: all 0.4s ease;
    
    &.shrink {
      font-size: 12px;
      top: -12px;
    }
  }
}