.checkout-page-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .form-wrapper {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .empty-cart-message {
    font-size: 22px;
    margin: 50px auto;
  }
}