.single-checkout-item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid lightgrey;

  .img-column {
    display: flex;
    justify-content: center;
    width: 40%;
  }

  .options-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .info-column {
      width: 100%;
    }

    .remove-column {
      width: 100%;
    }
  }

  .checkout-item-image {
    height: 180px;
    max-width: 220px;

    img {
      height: 100%;
    }
  }

  .checkout-item-trash {
    font-size: 20px;
    color: #525252;
    cursor: pointer;
  }

  .checkout-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    .small-btn {
      display: flex;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      font-size: 18px;
      width: 20px;
      height: 20px;
      color: white;
      background-color: #2abbc6;
      border-radius: 4px;
      margin: 0 7px;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10+ and Edge */
      user-select: none; /* Standard syntax */

      &:focus {
        outline: 1px solid #525252;
      }
    }

    .display-quantity {
      width: 30px;
      font-size: 16px;
      text-align: center;
      padding: 5px 0;
      cursor: default;
    }
  }
}
