$textColor: #525252;

.product-list-container {


  .add-product-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    
    a {
      background-color: #2abbc6;
      color: white;
      padding: 10px 15px;
      border-radius: 4px;

      svg {
        margin-right: 10px;
      }
    }
  }
  
}